:root {
  --rosso-corsa: #d00000ff;
  --plum: #8f3985ff;
  --mango: #fabd02ff;
  --prussian-blue: #032b43ff;
  --baby-powder: #fbfef9ff;
}

@font-face {
  font-family: 'Morganite Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Morganite Black Italic'), url('Morganite-BlackItalic.woff') format('woff');
}

body {
  background: var(--mango);
}

.logo-box {
  position: relative;
}

h1 {
  padding: 0;
  font-size: 4.55em;
  color: var(--rosso-corsa);
  font-family: 'Morganite Black Italic';
  font-weight: normal;
  margin: 0;
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  z-index: 10;
  line-height: 0.5em;
}

h1::after {
  content: "lo";
  color: var(--prussian-blue);
  z-index: 10;
}


#query {
  background-color: var(--baby-powder);
  color: var(--prussian-blue);
  z-index: 0;
}

#go {
  margin-top: 0em;
  float: right;
  z-index: 15;
}

label + label {
  margin-left: 0.5em;
}

#searchopts {
  margin-top: 0.5em;
}

#searchbar {
  padding: 0.55em;
  background-color: var(--baby-powder);
  border: 2px solid black;
  border-radius: 0.4em;
}

input[type=text] {
  border: none;
}

input[type=text]:focus {
  border: 0px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
