:root {
  --rosso-corsa: #d00000ff;
  --plum: #8f3985ff;
  --mango: #fabd02ff;
  --prussian-blue: #032b43ff;
  --baby-powder: #fbfef9ff;
}

@font-face {
  font-family: 'Morganite Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Morganite Black Italic'), url('Morganite-BlackItalic.woff') format('woff');
}

body {
  background: var(--mango);
}

.logo-box {
  position: relative;
}

h1 {
  padding: 0;
  font-size: 12em;
  color: var(--rosso-corsa);
  font-family: 'Morganite Black Italic';
  font-weight: normal;
  top: -0.54em;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0.05em;
  z-index: 10;
}

h1::after {
  content: "lo";
  color: var(--prussian-blue);
}


#query {
  padding: 0.5em;
  background-color: var(--baby-powder);
  color: var(--prussian-blue);
  z-index: 0;
}
