* {
  margin: 0;
}

* + * {
  margin-top: 1em;
}

body {
  padding: 1em;
  color: var(--prussian-blue);
}

.box {
  margin: 0 auto;
  max-width: 50em;
  width: 90vw;
}

.result {
  background-color: var(--baby-powder);
  padding: 1em;
  font-family: sans;
  overflow: hidden;
}

.url {
  display: block;
}

.url a:link, .url a:visited {
  color: #444;
  text-decoration: none;
  font-size: 10pt;
}

.spatial-title {
  font-family: monospace;
  font-size: 10pt;
  white-space: nowrap;
  color: var(--prussian-blue);
}

.spatial-title a {
  text-decoration: none;
}

.spatial-title a:visited {
  color: var(--plum);
}

.title a:visited {
  color: var(--plum);
}

.title {
  display: block;
}

.title a {
  text-decoration: none;
}


.logo-box {
  margin-top: 3em;
  margin-bottom: 4em;
}

h1 {
  font-size: 8em !important;
  top: -0.39em;

}

h1::after {
  content: "lo";
  color: var(--prussian-blue);
}

#query {
  font-size: 12pt;
  width: 100%;
  padding: 0.5em;
}

footer {
  display: flex;
  justify-content: space-around;
}

footer > * {
  margin-top: 0;
}

.pager {
  padding: 0.3em;
  font-size: 14pt;
  background-color: var(--rosso-corsa);
  color: var(--baby-powder);
  text-decoration: none;
}

