:root {
  --rosso-corsa: #d00000ff;
  --plum: #8f3985ff;
  --mango: #fabd02ff;
  --prussian-blue: #032b43ff;
  --baby-powder: #fbfef9ff;
}

body {
  background: var(--mango);
  align-items: center;
  display: flex;
  justify-content: center;
}

#query {
  font-size: 16pt;
  max-width: 40em;
  width: 90vw;
}

.metrics {
  text-align: center;
}

